body {
  margin: 0;
  height: 100vh;
  font-family: 'Work Sans', sans-serif;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  height: 8vh;
  margin-left: 40px;
  margin-right: 40px;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  height: 92vh;
  background-color: #f2f4f4;
}

h1 {
  margin: 0;
}

h2 {
  font-size: 26px;
  margin: 32px 0;
  color: #50A990;
}

h3 {
  font-size: 22px;
  font-weight: 200;
  margin: 0;
}

h4 {
  text-align: center;
  font-size: 16px;
  color: #192325;
}

#title {
  font-family: 'Noto Sans KR', sans-serif;
  color: #50A990;
  text-decoration: none;
  font-size: 24px;
}

.link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: #192325;
  margin-left: 30px;
}

.link:hover {
  color: #43917b;
}

#description {
  text-align: center;
  margin-bottom: 5vh;
}

#cart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: black;
  background-color: white;
  width: 60%;
  max-height: 400px;
  overflow: auto;
  padding: 20px;
  border-radius: 10px 10px 0px 0px;
  gap: 16px;
}

.selected-trip {
  height: 40px;
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  font-size: 16px;
  background-color: rgb(247, 241, 241);
  border-radius: 4px;
  margin: 10px;
  padding: 10px;
}

.price {
  font-weight: 600;
}

.delete {
  width: 30px;
  height: 30px;
  border: none;
  background-color: #50A990;
  border-radius: 4px;
  color: white;
  font-size: 12px;
  cursor: pointer;
}

#cart2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #001748;
  width: 60%;
  padding: 20px;
  border-radius: 0px 0px 10px 10px;
}

#payment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #001748;
  width: 90%;
  border-radius: 0px 0px 10px 10px;
  font-weight: 600;
}

#purchase {
  width: 90px;
  height: 30px;
  border: none;
  background-color: #50A990;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

#purchase:hover {
  background-color: #43917b;
}

.divider {
  background-color: #ababab;
  height: 1px;
  width: 88%;
  z-index: 1;
}

.green {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #50A990; */
  /* border-bottom: 2px solid #50A990; */
  /* height: 2px; */
  /* width: 100%; */
  height: 44px;
  width: 100%;
  background-color: #e2e2e2;
  /* margin: 8px; */
  border-radius: 5px;
}

.bt-delete {
  background-color: #a95050;
  width: 50px;
  padding: 8px;
  border-radius: 5px;
  color: white;
  border: none;
  margin-right: 8px;
}

.bt-delete:hover {
  cursor: pointer;
  background-color: #693232;
  width: 50px;
  padding: 8px;
  border-radius: 5px;
  color: white;
  border: none;
}

.tripLine {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  padding: 0 16px;
  gap: 16px;
}