body {
  margin: 0;
  height: 100vh;
  font-family: 'Work Sans', sans-serif;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  height: 8vh;
  margin-left: 40px;
  margin-right: 40px;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  width: 100%;
  height: 92vh;
  background-image: url('images/background02.jpg');
  background-size: cover;
  background-position: center;
  background-color: white;
}

.background-opacity {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

h1 {
  margin: 0;
}

h2 {
  font-size: 36px;
  margin-top: 5vh;
  margin-bottom: 20px;
}

h3 {
  font-size: 22px;
  font-weight: 200;
  margin: 0;
}

span {
  text-align: center;
  font-size: 16px;
  color: #192325;
}

#title {
  font-family: 'Noto Sans KR', sans-serif;
  color: #50A990;
  text-decoration: none;
  font-size: 24px;
}

.link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: #192325;
  margin-left: 30px;
}

.link:hover {
  color: #43917b;
}

#description {
  text-align: center;
  margin-bottom: 5vh;
  padding: 0 32px
}

#card-container {
  width: auto;
  display: flex;
  justify-content: center;
  gap: 60px;
  align-items: center;
  flex-wrap: wrap;
}

#card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  height: 360px;
  width: 320px;
  padding: 30px;
  border-radius: 10px;
}

#results {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  height: 360px;
  width: 320px;
  padding: 30px;
  border-radius: 10px;
  overflow-y: scroll;
}

#results-logo {
  width: 120px;
}

#search {
  width: 88%;
  height: 40px;
  border: none;
  background-color: #50A990;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

#search:hover {
  width: 88%;
  height: 40px;
  border: none;
  background-color: #43917b;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.input {
  width: 85%;
  height: 40px;
  background-color: #F2F4F4;
  color: #5b5b5b;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

.input:hover {
  background-color: #dfe0e0;
}

#departure {
  margin-top: 20px;
}

#date {
  margin-top: 40px;
  margin-bottom: 110px;
}

.divider {
  border-bottom: 2px solid #50A990;
  width: 90%;
}

.trip {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  font-size: 14px;
  background-color: rgb(247, 241, 241);
  border-radius: 4px;
  margin: 10px;
  padding: 10px;
}

.book {
  width: 50px;
  height: 30px;
  border: none;
  background-color: #50A990;
  border-radius: 4px;
  color: white;
  font-size: 12px;
  cursor: pointer;
}

.price {
  font-weight: 600;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.bt-book {
  background-color: #50A990;
  width: 50px;
  padding: 8px;
  border-radius: 5px;
  color: white;
  border: none;
}

.bt-book:hover {
  cursor: pointer;
  background-color: #43917b;
  width: 50px;
  padding: 8px;
  border-radius: 5px;
  color: white;
  border: none;
}

.lineTrip {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.green {
  padding: 16px;
}

.contentImageCardRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 16px;
}

.helpCard {
  display: flex;
  align-items: center;
 background-color: #F2F4F4;
 color: #192325;
 border-radius: 10px;
 width: auto;
 padding: 16px;
 font-size: 14px;
 font-style: italic;
 margin-top: 32px;
}
